{
    "singleQuote": true,
    "printWidth": 80,
    "editor.formatOnSave": true,
    "proseWrap": "always",
    "tabWidth": 4,
    "requireConfig": false,
    "useTabs": false,
    "trailingComma": "none",
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "semi": true,
    "importOrder": [
        "^react",
        "^@chakra-ui/react",
        "^@chakra-ui/icons",
        "^react-icons/(.*)$",
        "<THIRD_PARTY_MODULES>",
        "^@/contexts/(.*)$",
        "^@/hooks/(.*)$",
        "^@/lib/(.*)$",
        "^@/util/(.*)$",
        "^@/assets/(.*)$",
        "^@/layouts/(.*)$",
        "^@/components/(.*)$",
        "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
